.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: auto;
  padding: 0 24px;
  justify-content: center;
}

.button {
  margin-top: 20px;
  padding: 8px 16px;
  font-weight: 700;
  background-color: #d3d3d3;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #7cb9e8;
}
