.navBar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 24px;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link :hover,
.link :focus {
  color: #007fff;
}

.link:not(:last-child) {
  margin-right: 24px;
}

.text {
  color: #000000;
  font-family: "Pacifico";
  font-size: 24px;
}
